@import url('https://fonts.googleapis.com/css2?family=Rubik@1&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #c4cfa1;
  color: #4d533c;

  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

* {
  margin: 0;
}

.logo {
  height: 125px;
}

.links {
  margin-top: 10px;
}

.links svg{
  fill: #8b956d;
  height: 24px;
  width: 24px;

  margin-left: 5px;
  margin-right: 5px;
}

.links svg:hover{
  fill: #4d533c;
}

a {
  text-decoration: none;
}

.bruh {
  margin-top: 75px;
}